[submodule "ansible_debian"]
	path = ansible_debian
	url = https://github.com/13pgeiser/ansible_debian.git
[submodule "debian_stable_preseed"]
	path = debian_stable_preseed
	url = https://github.com/13pgeiser/debian_stable_preseed.git
[submodule "roles/web-mysql"]
	path = roles/web-mysql
	url = https://github.com/geerlingguy/ansible-role-mysql.git
[submodule "roles/system-firefox"]
	path = roles/system-firefox
	url = https://github.com/staticdev/ansible-role-firefox.git
[submodule "roles/system-texlive"]
	path = roles/system-texlive
	url = https://github.com/y-yu/ansible-texlive.git
